.down-menu__catalog {
    display: flex;
    position: relative;
}

.down-menu__catalog_mobile {
    display: none;
}

@media (max-width: 767px) {
    .down-menu__catalog_mobile {
        display: flex;
        
    }
}