.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 94px;
}

@media (max-width: 1199px) {
    .footer__container {
        max-width: 768px;
        padding: 35px 24px 0 24px;
    }
}

@media (max-width: 767px) {
    .footer__container {
        padding: 33px 15px 0 27px;
        margin: 0 auto;
        max-width: 320px;
    }
}